// Feature Cards Component

.features {
	.card {
		transition: $transition-base;

		&:hover {
			transform: translateY(-5px);
		}

		.bi {
			font-size: 2.5rem;
			color: $primary;
		}
	}
}

.mkb-fade-in {
	animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}